.advantages {
  padding: 0 calc(50% - 580px);
  padding-top: 110px;
  padding-bottom: 10px;
  background-color: $color-bg-light;

  @include vp-1199 {
    padding: 93px 45px 95px;
  }

  @include vp-767 {
    padding: 65px 0 60px;
  }
}

.advantages__title {
  text-align: center;
  padding-bottom: 12px;

  @include vp-1199 {
    padding-bottom: 46px;
  }

  @include vp-767 {
    padding-bottom: 47px;
  }
}

.advantages__list,
.advantages__sublist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 79px;
  padding-right: 71px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 43px;
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__item {
  position: relative;

  &:first-child {
    top: 40px;
  }

  &--blue {
    top: -39px;
    left: calc(50% - 510px);
  }

  &:nth-child(3n) {
    top: -114px;
  }

  @include vp-1199 {
    position: static;
  }

  &:first-child > .advantages__sublist {
    @include vp-767 {
      gap: 33px;
    }
  }
}


.advantages__sublist {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 240px;
  flex-wrap: wrap;

  @include vp-1199 {
    flex-direction: row;
    gap: 32px;

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    flex-direction: column;
    gap: 37px;
  }
}

.advantages__item:first-child .advantages__sublist .advantages__subitem {
  position: relative;

  &::after {
    content: "";
    width: 90%;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);
    position: absolute;
    top: 192%;
    left: 0;

    @include vp-1199 {
      display: none;
    }
  }
}

.advantages__card {
  display: flex;
  width: 330px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;

  @include vp-1199 {
    gap: 30px;
    width: 322px;
  }

  @include vp-767 {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 11px;
  }
}

.advantages__card--blue {
  width: 240px;
  padding: 70px 34px 58px;
  margin: 0 auto;
  color: $color-default-white;
  background-color: $color-bg-navy;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;

  .advantages__number {
    line-height: 66%;
  }

  .advantages__text {
    gap: 40px;
  }

  .advantages__name {
    padding-left: 0;
  }

  @include vp-1199 {
    width: 65.55%;
    padding-top: 44px;
    padding-bottom: 43px;

    .advantages__text {
      gap: 13px;
      line-height: 150%;
      width: 50%;
    }
  }

  @include vp-767 {
    padding: 0 calc(50% - 160px);
    padding-top: 50px;
    padding-bottom: 43px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    gap: 13px;

    .advantages__inner {
      padding-bottom: 0;
    }

    .advantages__text {
      gap: 14px;
      width: 60%;
    }
  }
}

.advantages__inner,
.advantages__text {
  display: grid;

  @include vp-767 {
    text-align: center;
    width: 73%;
  }
}

.advantages__inner {
  color: #2e35ac;
  font-size: 14px;
}

.advantages__text {
  gap: 10px;
  line-height: 140%;

  @include vp-1199 {
    gap: 7px;
  }

  @include vp-1199 {
    gap: 10px;
  }
}

.advantages__feature,
.advantages__name {
  margin: 0;
  padding: 0;
}

.advantages__number {
  font-size: 74px;
  color: $color-default-white;
  line-height: 80%;
  font-weight: 700;

  &--gradient {
    font-size: 71px;
    color: #0041ca;
    background: $color-grd-secondary;
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  @include vp-1199 {
    &--gradient {
      font-size: 58px;
    }
  }
}

.advantages__name {
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  padding-left: 7px;

  @include vp-1199 {
    font-size: 20px;
    padding-left: 0;
  }

  &--big {
    font-size: 26px;

    @include vp-1199 {
      font-size: 22px;
    }
  }
}

.advantages__feature {
  font-weight: 300;
}
