.button {
  font-size: 0.75em;
  font-family: "Roboto Condensed";
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  // padding: 22px 54px;

  &--dark {
    color: $color-default-white;
    background-color: transparent;
    border: 4px solid $color-default-white;

  }

  &--light {
    color: $color-default-navy;
  }
}
