.button {
  font-size: 12px;
  line-height: 1em;
  font-family: $ff-default;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color $trans-default;

  &--dark {
    @include hover-focus {
      outline: none;
      background-color: $color-default-white;
      color: $color-accent-blue;
    }

    @include active {
      color: $color-default-navy;
    }

    @include disabled {
      color: rgba($color-default-white, 0.5);
      box-shadow: 0 0 0 4px rgba($color-default-white, 0.5);
    }

    color: $color-default-white;
    box-shadow: 0 0 0 4px $color-default-white;

    @include vp-1199 {
      box-shadow: 0 0 0 2px $color-default-white;
    }
  }

  &--light {
    @include hover-focus {
      outline: none;
      background: $color-grd-vertical;
      color: $color-default-white;
      box-shadow: none;
    }

    @include active {
      color: rgba($color-default-white, 0.7);
    }

    @include disabled {
      color: rgba($color-default-navy, 0.3);
      box-shadow: 0 0 0 4px rgba($color-default-navy, 0.3);
    }
    color: $color-default-navy;
    box-shadow: 0 0 0 2px $color-default-navy;
  }
}
