
.chapter {
  display: none;
}
.chapter.is-open {
  display: grid;
}

.chapter__button {
  @include hover-focus {
    & .chapter__mark {
      background-color: $color-default-navy;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }
  }

  @include active {
    & .chapter__mark::after {
      background-color: transparent;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
// выравнивание в кнопке сомнительно спан справа увеличивает line-height
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $color-default-navy;
  font-family: $ff-default;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  width: 100%;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 42px;
  border-top: 1px solid rgba(28, 51, 116, 0.20);

  @include vp-767 {
    padding: 20px 0;
  }
}

.chapter__button span {
  text-align: start;
  align-self: center;
}

.chapter__mark {
  width: 42px;
  height: 42px;
  border: 1px solid $color-default-navy;
  position: relative;
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $color-default-navy;
  }

  &::before {
    width: 42.86%;
    height: 1px;
    top: calc(50% - 0.5px);
    left: 11.5px;
  }

  &::after {
    height: 42.86%;
    width: 1px;
    top: 11.5px;
    left: calc(50% - 0.5px);
  }
}

.chapter__text {
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 150%;
}

.chapter__element.is-active > .chapter__button .chapter__mark::after {
  background-color: transparent;
}
