
.chapter {
  display: none;
}

.chapter.is-open {
  display: grid;
}

.chapter__element.is-active {

  .chapter__button {
    padding-bottom: 8px;

    @include vp-767 {
      padding-bottom: 15px;
    }
  }
}


.chapter__button {
  @include hover-focus {
    & .chapter__mark {
      background-color: $color-default-navy;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }
  }

  @include active {
    & .chapter__mark::after {
      background-color: transparent;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  border: none;
  border-top: 1px solid rgba(28, 51, 116, 0.20);
  cursor: pointer;
  background-color: transparent;
  color: $color-default-navy;
  font-family: $ff-default;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 52px;

  &:last-child {
    border-bottom: 1px solid rgba(28, 51, 116, 0.20);
  }

  @include vp-767 {
    padding: 20px 0;
    font-size: 18px;
  }
}

.chapter__button span {
  text-align: start;
  align-self: center;
}

.chapter__mark {
  width: 42px;
  height: 42px;
  border: 1px solid $color-default-navy;
  position: relative;
  border-radius: 50%;
  justify-self: right;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $color-default-navy;
  }

  &::before {
    width: 42.86%;
    height: 1px;
    top: 50%;
    left: calc(50% - 21%);
  }

  &::after {
    height: 42.86%;
    width: 1px;
    top:  calc(50% - 21%);
    left: 50%;
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.chapter__text {
  padding: 0;
  margin: 0;
  width: 80%;
  padding-bottom: 23px;
  font-size: 18px;
  line-height: 140%;
  z-index: 2;

  @include vp-767 {
    font-size: 16px;
    width: 100%;
  }
}

.chapter__element.is-active > .chapter__button .chapter__mark::after {
  background-color: transparent;
}
