.coaches {
  width: 100%;
  padding-bottom: 105px;


  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.coaches__title {
  width: 100%;
  padding: 0 calc(50% - 580px);
  padding-bottom: 48px;

  @include vp-1199 {
    text-align: center;
    padding-bottom: 31px;
  }

  @include vp-767 {
    padding-bottom: 42px;
  }
}

.coaches__swiper {
  width: 100%;
  padding: 0 103px;
  max-width: 1366px;

  @include vp-1199 {
    max-width: 768px;
    padding: 0 101px;
  }

  @include vp-767 {
    max-width: 320px;
    padding: 0 45px;
  }
}

.coaches__inner {
  position: relative;
  width: 260px;
  height: 294px;

  &::-webkit-scrollbar {
    width: 0;
  }

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.coaches__inner img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.coaches__name {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  color: $color-default-white;
  text-align: center;
}

.coaches__button {
  &--prev {
    left: 42px;

    @include vp-1199 {
      left: 22px;
    }

    @include vp-767 {
      left: 5px;
    }
  }

  &--next {
    right: 42px;

    @include vp-1199 {
      right: 22px;
    }


    @include vp-767 {
      right: 5px;
    }
  }
}

.coaches__slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include hover {
    .coaches__feature {
      display: flex;
    }
  }

  @include vp-767 {
    @include active {
      .coaches__feature {
        display: flex;
      }
    }
  }
}

.coaches__feature {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  flex-direction: column;
  align-items: center;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  z-index: 2;
  padding: 58px 0 10px;
  overflow: auto;

  & h3,
  p,
  ul {
    max-width: 90%;
    margin: 0;
    padding: 0;
  }

  & h3 {
    font-size: 18px;
    line-height: 100%;
  }

  & ul {
    padding-left: calc(50% - 76px);
    padding-top: 32px;
    display: grid;
    gap: 9px;
    font-size: 14px;

    @include vp-767 {
      padding-left: 39px;
    }
  }

  @include vp-767 {
    padding: 45px 0 20px;
  }
}
