.coaches {
  width: 100%;
  padding: 0 calc(50% - 636px);
  padding-bottom: 105px;


  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 0;
    padding-bottom: 70px;
  }
}

.coaches__title {
  width: 100%;
  padding: 0 calc(50% - 580px);
  padding-bottom: 48px;

  @include vp-1199 {
    text-align: center;
    padding-bottom: 31px;
  }

  @include vp-767 {
    padding-bottom: 42px;
  }
}

.coaches__swiper {
  padding: 0 calc(50% - 580px);

  @include vp-1199 {
    padding: 0 calc(50% - 282px);
  }
}

.coaches__inner {
  position: relative;
  width: 260px;
  height: 294px;

  @include vp-1199 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.coaches__inner img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.coaches__name {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  color: $color-default-white;
  text-align: center;
}

.coaches__button {
  &--prev {
    left: 0;

    @include vp-767 {
      left: 5px;
    }
  }

  &--next {
    right: 0;

    @include vp-767 {
      right: 5px;
    }
  }
}

.coaches__slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include hover {
    .coaches__feature {
      display: flex;
    }
  }

  @include vp-767 {
    @include active {
      .coaches__feature {
        display: flex;
      }
    }
  }
}

.coaches__feature {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  z-index: 2;

  & h3,
  p,
  ul {
    max-width: 60%;
    margin: 0;
    padding: 0;

    @include vp-767 {
      max-width: 70%;
    }
  }

  & h3 {
    font-size: 18px;
    padding-bottom: 10px;

    @include vp-767 {
      padding-bottom: 0;
    }
  }

  & ul {
    padding-top: 45px;
    display: grid;
    gap: 24px;
    font-size: 14px;

    @include vp-767 {
      padding-top: 29px;
      padding-left: 15px;
      gap: 9px;
    }
  }

  @include vp-767 {
    padding: 48px 0;
  }
}
