.contacts {
  width: 100%;
  padding-left: 120px;
  padding-right: calc(50% - 290px);
  padding-top: 56px;
  padding-bottom: 70px;
  border-top: 1px solid $color-border;
  display: grid;
  gap: 43px;

  & a {
    color: $color-default-navy;
  }

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 50px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: $color-border;
  }

  @include vp-1199 {

  }
  @include vp-767 {
    flex-direction: column;
    gap: 35px;

    &::after {
      display: none;
    }

  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 30px;

  @include vp-1199 {
    gap: 35px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-1199 {
    gap: 20px;
  }
}


.contacts__key {
  font-weight: 700;

  @include vp-1199 {
    font-size: 20px;
  }

}

.contacts__value {
  font-size: 14px;
  line-height: 152%;

  @include vp-1199 {
    font-size: 18px;
  }
}
