.contacts {
  width: 100%;
  padding-left: 120px;
  // padding-right: calc(50% - 181px);
  padding-top: 56px;
  padding-bottom: 64px;
  border-top: 1px solid $color-border;


  & a {
    color: $color-default-navy;
  }

  @include vp-1199 {
    padding: 61px 179px 62px 133px;
  }

  @include vp-767 {
    gap: 37px;
    padding: 65px 15px 63px;
  }
}

.contacts__container {
  display: grid;
  gap: 37px;
  width: 404px;
  margin-right: auto;

  @include vp-1199 {
    width: 454px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    gap: 37px;
  }
}

.contacts__wrapper {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 58.2%;
    top: 7px;
    bottom: auto;
    width: 1px;
    height: 88%;
    background-color: $color-border;
  }

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 23px;

    &::after {
      display: none;
    }
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 18px;

  @include vp-1199 {
    gap: 20px;
  }

  @include vp-767 {
    gap: 22px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 3px;

  @include vp-1199 {
    gap: 9px;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.contacts__key,
.contacts__value {
  margin: 0;
  padding: 0;
}


.contacts__key {
  font-weight: 700;

  @include vp-1199 {
    font-size: 20px;
  }
}

.contacts__value {
  font-size: 14px;
  line-height: 152%;

  @include vp-1199 {
    font-size: 18px;
  }
}

.contacts__link {
  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-default-navy;
    outline-offset: 1px;;
  }

  @include active {
    opacity: 0.75;
    outline: none;
  }
}
