.contacts {
  width: 100%;
  padding-left: 120px;
  padding-right: calc(50% - 181px);
  padding-top: 56px;
  padding-bottom: 64px;
  border-top: 1px solid $color-border;
  display: grid;
  gap: 38px;

  & a {
    color: $color-default-navy;
  }

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 50px;
  }

  @include vp-767 {
    gap: 37px;
    padding: 65px 15px 63px;
  }
}

.contacts__wrapper {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 58.2%;
    top: 7px;
    bottom: auto;
    width: 1px;
    height: 88%;
    background-color: $color-border;
  }

  @include vp-767 {
    padding-left: 0;
    flex-direction: column;
    gap: 23px;

    &::after {
      display: none;
    }
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 18px;

  @include vp-1199 {
    gap: 35px;
  }

  @include vp-767 {
    gap: 22px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 3px;

  @include vp-1199 {
    gap: 20px;
  }

  @include vp-767 {
    gap: 8px;
  }
}


.contacts__key {
  font-weight: 700;

  @include vp-1199 {
    font-size: 20px;
  }
}

.contacts__value {
  font-size: 14px;
  line-height: 152%;

  @include vp-1199 {
    font-size: 18px;
  }
}
