.event {
  width: 100%;
  padding: 120px 103px 110px;

  @include vp-1199 {
    padding: 100px 45px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.event__container {
  color: $color-default-white;
  background-color: $color-bg-banner;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 56.9%;

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 290px;
    margin: 0 auto;
  }
}

.event__image {
  justify-self: right;
  max-width: 100%;

  & img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
}

.event__poster {
  width: 69%;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 51px;
  }
}

.event__inner {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  align-self: center;

  @include vp-1199 {
    gap: 29px;
  }
}

.event__title {
  max-width: 58%;
  line-height: 96%;
}

.event__text {
  padding: 33px 0 55px;
  margin: 0;

  @include vp-1199 {
    padding: 15px 0 35px;
    font-size: 12px;
  }
}

.event__button {
  display: flex;
  justify-content: center;
  padding: 29px;

  @include vp-1199 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

}

.event__date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  align-items: flex-start;

  @include vp-1199 {
    gap: 13px;
  }
}

.event__day,
.event__time {
  display: flex;
  flex-direction: column;
  line-height: 100%;

  & thead {
    display: flex;
    padding-bottom: 13px;
    margin-bottom: 10px;
    box-shadow: 0 1px $color-default-white;

    & th {
      font-weight: 400;
      font-size: 18px;
    }
  }

  & tbody th {
    font-size: 40px;
  }

  & tbody td {
    font-size: 14px;
  }

  @include vp-1199 {

    & thead {
      padding-bottom: 6px;
      margin-bottom: 5px;

      th {
        font-size: 12px;
      }
    }

    & tbody th {
      font-size: 24px;
    }

    & tbody td {
      font-size: 10px;
    }

  }
}

.event__time tbody {
  padding-top: 10px;

  @include vp-1199 {
    padding-top: 5px;
  }
}
