.event {
  width: 100%;
  padding: 0 calc(50% - 580px);
  padding-top: 120px;
  padding-bottom: 107px;

  @include vp-1199 {
    padding: 100px 45px;
  }

  @include vp-767 {
    padding: 70px 15px 65px;
  }
}

.event__container {
  color: $color-default-white;
  background-color: $color-bg-banner;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 56.9%;

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 290px;
    margin: 0 auto;
  }
}

.event__image {
  justify-self: right;
  width: 100%;
  height: 100%;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.event__poster {
  // width: 67.8%;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  padding: 85px 77px;

  @include vp-1199 {
    padding: 45px 44px 50px;
  }

  @include vp-767 {
    padding: 44px 46px 51px;
  }
}

.event__inner {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  align-self: center;

  @include vp-1199 {
    gap: 29px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.event__title {
  max-width: 58%;
  line-height: 96%;
  text-align: center;
}

.event__text {
  font-size: 18px;
  padding: 35px 0 49px;
  margin: 0;

  @include vp-1199 {
    padding: 0 0 28px;
    font-size: 12px;
  }

  @include vp-767 {
    padding: 0 0 30px;
    font-size: 12px;
  }
}

.event__button {
  display: flex;
  justify-content: center;
  padding: 25px;

  @include vp-1199 {
    padding: 15px;
    font-size: 10px;
  }

  @include vp-767 {
    font-size: 10px;
    padding: 13px;
  }
}

.event__date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  align-items: flex-start;

  @include vp-1199 {
    gap: 0;
  }
}

.event__day,
.event__time {
  display: flex;
  flex-direction: column;
  line-height: 100%;

  & thead {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-default-white;

    & th {
      font-weight: 400;
      font-size: 18px;
    }
  }

  & tbody {
    padding-top: 3px;

    & th {
      font-size: 40px;
    }

    & td {
      font-size: 14px;
      padding-left: 2px;
    }
  }

  @include vp-1199 {
    & thead {
      padding-bottom: 0;

      & th {
        font-size: 12px;
      }
    }

    & tbody {

      padding-top: 0;

      & th {
        font-size: 24px;
        line-height: 70%;
      }

      & td {
        font-size: 10px;
      }
    }
  }
}

.event__time tbody {
  padding-top: 10px;

  @include vp-1199 {
    padding-top: 4px;
  }
}
