.faq {
  background-color: $color-bg-light;
  display: flex;
  flex-direction: column;
  padding: 0 calc(50% - 580px);
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 0 15px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.faq__title {
  padding-bottom: 40px;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    padding-bottom: 30px;
  }

}

.faq__container {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.faq__controls {
  width: 100%;
  display: grid;
  gap: 10px;
  align-self: self-start;

  @include vp-1199 {
    grid-template-columns: repeat(4, 1fr);
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.faq__content {
  display: flex;
  width: 100%;

  @include vp-1199 {

  }

  @include vp-767 {

  }
}

.faq__button {
  padding: 18px;
  // align-self: self-start;
  text-transform: none;
  font-size: 18px;
  font-weight: 500;

}


