.faq {
  background-color: $color-bg-light;
  display: flex;
  flex-direction: column;
  padding: 0 calc(50% - 580px);
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 70px 15px 70px;
  }
}

.faq__title {
  padding-bottom: 40px;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    padding-bottom: 33px;
  }
}

.faq__container {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 34px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 38px;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.faq__controls {
  width: 100%;
  display: grid;
  gap: 10px;
  align-self: self-start;

  @include vp-1199 {
    grid-template-columns: repeat(4, 1fr);
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.faq__content {
  display: flex;
  width: 100%;
}

.faq__button {
  padding: 18px;
  text-transform: none;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 0 0 1px rgba(16, 38, 84, 0.2);
  line-height: 1em;
  font-family: $ff-default;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
  color: $color-default-navy;
  user-select: none;

  // Активное состояние кнопки
  &.is-active {
    background: $color-grd-vertical;
    color: $color-default-white;
    box-shadow: none;
  }

  @include vp-767 {
    font-size: 16px;
    padding: 13px;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $color-default-navy;
    background: transparent;
    color: $color-default-navy;
  }

  &:active {
    box-shadow: none;
    background: $color-grd-vertical;
    color: $color-default-white;
  }

  &:disabled {
    box-shadow: 0 0 0 1px rgba(16, 38, 84, 0.2);
    background: transparent;
    color: #c8c9cc;
  }
}
