.feedback {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.feedback__title {
  text-align: center;
  padding-bottom: 36px;

  @include vp-1199 {
    padding-bottom: 40px;
  }

  @include vp-767 {
    text-align: center;
    padding-left: 0;
    padding-bottom: 42px;
  }
}

.feedback__swiper {
  width: 100%;
  max-width: 744px;
  margin: 0 auto;
  // padding: 0 calc(50% - 280px);

  @include vp-1199 {
    max-width: 768px;
    // padding: 0 calc(50% - 283px);
  }

  @include vp-767 {
    max-width: 320px;
    padding: 0;
  }
}

.feedback__inner {
  margin: 0 auto;
  background-color: $color-bg-navy;
  color: $color-default-white;
  padding: 57px 62px;
  display: grid;
  grid-template-areas:
    "photo title"
    "photo text";
  column-gap: 28px;
  max-width: 560px;

  @include vp-1199 {
    max-width: 566px;
    padding: 56px 64px;
  }

  @include vp-767 {
    max-width: 226px;
    padding: 40px 24px 32px;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-areas:
      "photo title"
      "text text";
  }
}

.feedback__image {
  padding-top: 4px;
  width: 80px;
  height: 80px;
  grid-area: photo;

  & picture img {
    object-fit: cover;
  }

  @include vp-767 {
    padding-top: 0;
    width: 68px;
    height: 68px;
    justify-self: end;
  }
}

.feedback__name {
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  grid-area: title;

  @include vp-1199 {
    padding-bottom: 17px;
  }

  @include vp-767 {
    padding-bottom: 0;
    align-self: center;
  }
}

.feedback__comment {
  padding: 0;
  margin: 0;
  min-height: 90px;
  line-height: 140%;
  font-weight: 400;
  grid-area: text;

  @include vp-767 {
    text-align: center;
    min-height: 180px;
  }
}

.feedback__button {
  top: 50%;

  &--prev {
    left: 30px;

    @include vp-1199 {
      left: 40px;
    }

    @include vp-767 {
      left: 8px;
    }
  }

  &--next {
    right: 30px;

    @include vp-1199 {
      right: 40px;
    }

    @include vp-767 {
      right: 8px;
    }
  }
}
