.feedback {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 100px;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.feedback__title {
  text-align: center;
  padding-bottom: 40px;
}

.feedback__swiper {
  width: 100%;
}

.feedback__inner {
  max-width: 560px;
  width: 50%;
  height: 100%;
  padding: 57px 62px;
  display: grid;
  grid-template-areas:
  "photo title"
  "photo text";
  column-gap: 28px;
  background-color: $color-bg-navy;
  color: $color-default-white;
  margin: 0 auto;

  @include vp-1199 {
    width: 73.69%;
    padding: 62px 65px;
  }

  @include vp-767 {
    column-gap: 15px;
    row-gap: 20px;
    width: 70%;
    padding: 40px 25px 30px;
    grid-template-areas:
     "photo title"
     "text text";
  }
}

.feedback__image {
  padding-top: 4px;
  width: 80px;
  height: 80px;
  grid-area: photo;

  & picture img {
    object-fit: cover;
  }

  @include vp-767 {
    width: 68px;
    height: 68px;
    justify-self: end;
  }
}

.feedback__name {
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  grid-area: title;

  @include vp-767 {
    padding-bottom: 0;
    align-self: center;
  }
}

.feedback__comment {
  padding: 0;
  margin: 0;
  line-height: 140%;
  font-weight: 400;
  grid-area: text;

  @include vp-767 {
    text-align: center;
  }
}

.feedback__button {
  top: calc(50% - 10px);

  &--prev {
    left: 25%;

    @include vp-1199 {
      left: calc(50% - (36.85% + 40px));
    }

    @include vp-767 {
      left: calc(50% - (35% + 22px));
    }
  }

  &--next {
    right: 25%;

    @include vp-1199 {
      right: calc(50% - (36.85% + 40px));
    }

    @include vp-767 {
      right: calc(50% - (35% + 22px));
    }
  }
}
