.feedback {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.feedback__title {
  text-align: center;
  padding-bottom: 37px;

  @include vp-1199 {
    padding-bottom: 50px;
  }
}

.feedback__swiper {
  width: 100%;
}

.feedback__inner {
  width: 50%;
  height: 100%;
  padding: 62px;
  display: grid;
  grid-template-areas:
  "photo title"
  ". text";
  background-color: #1c3374;
  color: $color-default-white;
  margin: 0 auto;

  @include vp-1199 {
    padding: 62px 65px;
  }

  @include vp-767 {
    width: 70%;
    padding: 40px 25px;
    grid-template-areas:
     "photo title"
     "text text";

  }
}

.feedback__image {
  width: 80px;
  height: 80px;
  grid-area: photo;

  @include vp-767 {
    width: 68px;
    height: 68px;
  }

  & picture img {
    object-fit: cover;

    @include vp-767 {
    }
  }
}

.feedback__name {
  font-size: 20px;
  font-weight: 700;
  grid-area: title;
}

.feedback__comment {
  line-height: 140%;
  font-weight: 400;

  grid-area: text;

  @include vp-767 {
    text-align: center;
  }

}

.feedback__button {

  &--prev {
    left: calc(50% - (25% + 40px));

    @include vp-767 {
      left: calc(50% - (35% + 22px));
    }
  }

  &--next {
    right: calc(50% - (25% + 40px));

    @include vp-767 {
      right: calc(50% - (35% + 22px));
    }
  }
}
