.feedback {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 93px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.feedback__title {
  text-align: center;
  padding-bottom: 36px;

  @include vp-1199 {
    text-align: start;
    padding-left: calc(50% - 63px);
  }

  @include vp-767 {
    text-align: center;
    padding-left: 0;
    padding-bottom: 42px;
  }
}

.feedback__swiper {
  padding: 0 calc(50% - 280px);

  @include vp-1199 {
    padding: 0 calc(50% - 283px);
  }

  @include vp-767 {
    padding: 0;
  }
}

.feedback__slide {
  width: 100%;
  max-width: 560px;
  height: 100%;
  display: flex;
}

.feedback__inner {
  background-color: $color-bg-navy;
  color: $color-default-white;
  padding: 57px 62px;
  display: grid;
  grid-template-areas:
    "photo title"
    "photo text";
  column-gap: 28px;
  margin: 0 auto;


  @include vp-767 {
    column-gap: 15px;
    row-gap: 17px;
    grid-template-areas:
      "photo title"
      "text text";
  }
}

.feedback__image {
  padding-top: 4px;
  width: 80px;
  height: 80px;
  grid-area: photo;

  & picture img {
    object-fit: cover;
  }

  @include vp-767 {
    width: 68px;
    height: 68px;
    justify-self: end;
  }
}

.feedback__name {
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  font-size: 20px;
  font-weight: 700;
  grid-area: title;

  @include vp-767 {
    padding-bottom: 0;
    align-self: center;
  }
}

.feedback__comment {
  padding: 0;
  margin: 0;
  min-height: 90px;
  line-height: 140%;
  font-weight: 400;
  grid-area: text;

  @include vp-767 {
    text-align: center;
  }
}

.feedback__button {
  top: calc(50% - 10px);

  @include vp-1199 {
    top: 50%;
  }

  &--prev {
    left: 25%;

    @include vp-1199 {
      left: calc(50% - (36.85% + 63px));
    }

    @include vp-767 {
      left: calc(50% - (35% + 42px));
    }
  }

  &--next {
    right: 25%;

    @include vp-1199 {
      right: calc(50% - (36.85% + 63px));
    }

    @include vp-767 {
      right: calc(50% - (35% + 42px));
    }
  }
}
