.form {
  width: 60%;
  display: flex;
  flex-direction: column;


  @include vp-767 {
    width: 100%;
  }
}

.form__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-bottom: 30px;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }

}

.form__wrapper input {
  padding: 10px 0;
  width: 100%;

  border: none;
  background-color: inherit;
  border-bottom: 1px solid rgba($color-default-white, 0.5);

}

.form__button {
  padding: 21px;
  font-size: 14px;
}
