.freeclass {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-default-navy;
  color: $color-default-white;
  padding-left: calc(50% - 237px);
  padding-top: 56px;
  padding-bottom: 64px;
  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include vp-767 {
    padding-top: 55px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.freeclass__title {
  font-weight: 800;
  line-height: 156%;
  padding-bottom: 3px;
  letter-spacing: 0.04em;

  @include vp-767 {
    padding-bottom: 25px;
  }

}

.freeclass__form {
  width: 70.5%;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 100%;
  }
}

.freeclass__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-bottom: 35px;
  }

}

.freeclass__button {
  padding: 17px;
  font-size: 14px;
}
