.freeclass {
  width: 100%;
  background-color: $color-default-navy;
  color: $color-default-white;
  // padding-left: calc(50% - 181px);
  padding-right: 169px;
  padding-top: 56px;
  padding-bottom: 64px;

  @include vp-1199 {
    padding: 54px 163px 72px 133px;
  }

  @include vp-767 {
    padding: 59px 15px 70px;
  }
}

.freeclass__container {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-left: auto;

  @include vp-1199 {
    width: 472px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
  }
}

.freeclass__title {
  font-weight: 800;
  line-height: 156%;
  padding-bottom: 3px;
  letter-spacing: 0.04em;

  @include vp-1199 {
    padding-bottom: 10px;
  }

  @include vp-767 {
    letter-spacing: 0.03em;
    padding-bottom: 20px;
  }
}

.freeclass__form {
  // width: 70.5%;
  display: flex;
  flex-direction: column;

  // @include vp-1199 {
  //   width: 100%;
  // }
}

.freeclass__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-1199 {
    gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-bottom: 41px;
    gap: 26px;
  }
}

.freeclass__button {
  padding: 17px;
  font-size: 14px;
}
