.freeclass {
  width: 100%;
  background-color: $color-default-navy;
  color: $color-default-white;
  padding-left: calc(50% - 290px);
  padding-top: 56px;
  padding-bottom: 70px;
}

.freeclass__title {
  font-weight: 800;
  line-height: 156%;
  padding-bottom: 12px;
  // input padding-top 10px
}
