.gym {
  position: relative;
  width: 100%;
  padding: 120px 103px 235px;
  display: grid;
  grid-template-columns: 1fr 57%;
  justify-content: space-between;
  gap: 85px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding: 104px 45px 183px;
    gap: 40px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 65px 0 70px;
    gap: 33px;
  }
}


.gym__multimedia {
  display: flex;
  position: relative;
  width: 100%;
  align-self: first baseline;

  @include vp-767 {
    flex-direction: column;
    gap: 40px;
  }
}

.gym__image {
  width: 100%;

  & img {
    object-fit: cover;
    width: 100%;
  }
}

.gym__video {
  width: 55.15%;
  aspect-ratio: 16 / 10;
  position: absolute;
  top: 72%;
  left: -9.54%;


  @include vp-1199 {
    width: 39.23%;
    top: 75.72%;
    left: calc(50% - 19.6%);
  }

  @include vp-767 {
    width: 100%;
    height: 167px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
}


.gym__inner {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 14%;

  @include vp-1199 {
    align-items: center;
    padding: 0;
  }

  @include vp-767 {
    align-items: flex-start;
    padding: 0 15px;
  }
}

.gym__title {
  color: $color-default-navy;
  font-size: 48px;

  @include vp-1199 {
    align-self: flex-start;
    padding-left: 200px;
    font-size: 42px;
  }

  @include vp-767 {
    padding-left: 0;
    font-size: 32px;
  }
}

.gym__feature {
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding-top: 9px;
  padding-bottom: 40px;

  @include vp-1199 {
    padding-top: 2px;
    padding-bottom: 36px;
  }

  @include vp-767 {
    padding-top: 7px;
    padding-bottom: 24px;
  }
}

.gym__text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  & p {
    margin: 0;
    padding: 0;
    font-weight: 300;

    @include vp-1199 {
      padding: 0 13%;
      text-align: center;

      &:last-child {
        display: none;
      }
    }

    @include vp-767 {
      padding: 0;
      text-align: start;
    }
  }
}
