.hero-header {
  width: 100%;
  background: url("../img/hero-bg.jpg") no-repeat left 0 top 0;
  background-size: cover;
  color: $color-default-white;
}

.hero-header__container {
  padding-top: 51px;
  padding-bottom: 51px;
  display: flex;
  gap: 4.7%;
  justify-content: center;
  align-items: center;

  @include vp-1199 {
    padding-top: 82px;
    padding-bottom: 82px;
    gap: 4%;
  }

  @include vp-767 {
    padding-top: 115px;
    padding-bottom: 80px;
  }
}

.hero-header__inner {
  position: relative;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 40%;
  padding-top: 121px;
  padding-bottom: 45px;

  @include vp-1199 {
    max-width: 50%;
    padding-top: 57px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero-header__text {
  padding-right: 10px;
}

.hero-header__title {
  text-align: end;
  max-width: 80%;

  @include vp-1199 {
    max-width: 90%;
  }

  @include vp-767 {
    max-width: 80%;
  }
}

.hero-header__list {
  font-size: 0.88em;
  line-height: 150%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
  min-width: 113px;
  position: absolute;
  top: 311px;
  left: 19px;
  z-index: 2;

  @include vp-1199 {
    top: 192px;
    left: 0;
  }

  @include vp-767 {
    top: 124px;
  }
}

.hero-header__picture {
  margin-right: 15%;
  height: auto;
  width: 100%;
  max-width: 500px;

  @include vp-1199 {
    margin-right: 0;
    max-width: 324px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-header__button {
  margin-top: 55px;
  box-sizing: border-box;
  padding: 22px 54px;
  text-align: center;

  @include vp-1199 {
    padding: 22px 31px;
  }

  @include vp-767 {
    width: 100%;
    padding: 22px;
  }
}
