.hero-header {
  width: 100%;
  background: #b80027 url("../img/hero-bg.jpg") no-repeat left 0 bottom 0;
  background-size: cover;
  color: $color-default-white;
  padding: 0 calc(50% - 580px);
  // padding: 0 103px;
  padding-top: 51px;
  padding-bottom: 51px;
  display: grid;
  grid-template-columns: 33.78% 1fr;
  gap: 5.7%;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 82px;
    padding-bottom: 82px;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 15px;
    padding-top: 115px;
    padding-bottom: 80px;
  }
}

.hero-header__image {
  width: 100%;
  height: 100%;
  justify-self: left;

  @include vp-767 {
    display: none;
  }
}

// .hero-header__image picture img {
//   object-fit: cover;
//   max-width: 100%;
// }

.hero-header__wrapper {
  justify-self: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // max-width: calc(100% - 500px - 200px - 64px);
  padding-top: 121px;
  padding-bottom: 45px;

  @include vp-1199 {
    // max-width:calc(100% - 354px);
    padding-top: 57px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.hero-header__inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: end;

  @include vp-767 {
    width: 100%;
    align-self: flex-end;
  }
}

.hero-header__list {
  font-size: 0.88em;
  line-height: 150%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
  min-width: 113px;
  position: absolute;
  top: 57%;
  left: 5%;

  @include vp-1199 {
    left: 0;
  }

  @include vp-767 {
  }
}

.hero-header__text {
  font-family: $ff-title;
  font-size: 40px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.05em;
  padding-right: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;

  @include vp-767 {
    align-self: flex-end;
  }
}

.hero-header__title {
  order: 1;
  color: $color-default-white;
  text-align: right;
  max-width: 80%;

  @include vp-1199 {
    max-width: 68%;
  }

  @include vp-767 {
    // max-width: 90%;
  }
}

.hero-header__button {
  margin-top: 55px;
  box-sizing: border-box;
  padding: 22px 54px;
  text-align: center;

  @include vp-1199 {
    padding: 22px 31px;
  }

  @include vp-767 {
    width: 100%;
    padding: 22px;
  }
}
