.membership {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 103px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-bg-light;
  margin-bottom: 100px;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
  }

  @include vp-767 {
    padding: 0 calc(50% - 145px);
  }

  &::before {
    content: "";
    width: 321px;
    height: 384px;
    position: absolute;
    right: -80px;
    bottom: -150px;
    background-image: url("../img/plumbs-desktop.png");
    background-size: cover;
    z-index: 1;

    // @include retina {
    //   background-image: url("../img/plumbs-desktop-2x.webp");
    // }

    @include vp-1199 {
      right: -76px;
      bottom: -125px;
      background-image: url("../img/plumbs-tablet.png");
      // @include retina {
      //   background-image: url("../img/plumbs-tablet-2x.webp");
      // }
    }

    @include vp-767 {
      display: none;
    }
  }
}

.membership__title {
  text-align: center;
  padding-bottom: 5px;
}
