.membership {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 calc(50% - 580px);
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-bg-light;

  @include vp-1199 {
    padding: 102px 0 100px;
  }

  @include vp-767 {
    padding: 66px 15px 70px;
  }
}

.membership__title {
  text-align: center;
  padding-bottom: 7px;

  @include vp-1199 {
    text-align: start;
    padding-left: calc(50% - 96px);
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-left: 73px;
    padding-bottom: 7px
  }
}

.membership__wrapper {
  width: 100%;
  position: relative;

  @include vp-1199 {
    width: 57.55%;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
  }

  &::before {
    content: "";
    width: 470px;
    height: 494px;
    position: absolute;
    bottom: -270px;
    right: -285px;
    background-image: url("../img/plumbs-desktop-1x.png");
    background-size: cover;

    @include retina {
      background-image: url("../img/plumbs-desktop-2x.webp");
    }

    @include vp-1199 {
      width: 423px;
      height: 444px;
      background-image: url("../img/plumbs-tablet-1x.png");
      bottom: -223px;
      right: -239px;

      @include retina {
        background-image: url("../img/plumbs-tablet-2x.webp");
      }
    }

    @include vp-767 {
      display: none;
    }
  }
}
