.page-footer {
  background-color: $color-bg-footer;
  width: 100%;
  min-height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(50% - 580px);

  @include vp-1199 {
    min-height: 114px;
    padding: 0 calc(50% - 339px);
  }

  @include vp-767 {
    padding: 0 15px;
    position: relative;
    padding-top: 45px;
    padding-bottom: 52px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
  }
}

.page-footer__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 97px);
  // min-width: calc(100% - 97px - 266px);
  min-width: calc(100% - 97px - 259px);


  @include vp-1199 {
    max-width: calc(100% - 97px);
    min-width: calc(100% - 97px - 46px);
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    max-width: none;
    min-width: none;
  }
}

.page-footer__logo {
  padding-top: 12px;

  @include hover-focus {
    color: $color-accent-blue;

    @include active {
      color: $color-default-white;
    }
  }

  @include vp-1199 {
    padding-bottom: 12px;
  }

  @include vp-767 {
    position: absolute;
    top: -5px;
    left: 0;
  }
}

.page-footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  @include vp-1199 {
    column-gap: 10px;
  }

  @include vp-767 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: 65px;
    row-gap: 16px;
  }
}

.page-footer__item {
  align-self: center;

  &:first-child {
    @include vp-767 {
      grid-row: span 2;
      align-self: flex-end;
    }
  }
}

.page-footer__link {
  color: $color-default-white;
  font-size: 14px;
  position: relative;
  padding: 5px 10px;

  @include hover {
    &::after {
      content: "";
      height: 1px;
      background-color: $color-default-white;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
    }
  }

  @include focus {
    outline: 1px solid $color-default-white;
    outline-offset: 1px;
  }

  @include active {
    outline: none;

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    padding-left: 0;
    font-size: 16px;
  }
}

.page-footer__social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 11px;
}
