.page-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 calc(50% - 580px);
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  color: $color-default-white;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 43px;
  }

  @include vp-767 {
    padding: 0 15px;
    padding-top: 20px;
  }
}

.page-header__logo {
  padding: 10px 0;

  @include vp-1199 {
    padding: 7px 0;
  }
}

.page-header__phone {
  color: $color-default-white;
  font-size: 26px;
  font-family: $ff-title;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 24px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 20px;
  }
}
