.promo {
  width: 100%;
  padding: 0 calc(50% - 580px);
  padding-top: 135px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.promo__title {
  padding-bottom: 34px;
  text-align: center;
}

.promo__wrapper {
  width: 100%;
  display: flex;

  @include vp-1199 {
    flex-direction: column;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.promo__poster,
.promo__coupons {
  display: flex;
  width: 50%;
}

.promo__poster {
  display: flex;
}

.promo__inner {
  width: 50%;
  color: $color-default-white;
  background-color: $color-bg-banner;
  padding: 45px;
}

.promo__coupons {
  flex-direction: column;
  justify-content: space-between;
}

.promo__coupon {
  border: 7px solid transparent;
  background: linear-gradient($color-default-white, $color-default-white) padding-box, $color-grd-vertical border-box;
  padding: 35px;
}


.promo__link {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 700px;

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
  }

  @include hover {
    opacity: 0.8;
  }

  @include active {
    outline: none;
    opacity: 1;
    &::before {
      visibility: visible;
    }
  }


  &--white {
    font-size: 14px;
    color: $color-default-white;
    &::before {
      background-color: $color-default-white;
    }

    @include focus {
      outline: 1px solid $color-default-white;
      outline-offset: 1px;
      &::before {
        visibility: hidden;
      }
    }
  }

  &--navy {
    font-size: 12px;
    color: #1c3374;
    &::before {
      background-color: #1c3374;
    }

    @include focus {
      outline: 1px solid #1c3374;
      outline-offset: 1px;
      &::before {
        visibility: hidden;
      }
    }
  }

}
