.promo {
  width: 100%;
  padding: 0 calc(50% - 580px);
  padding-top: 135px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 0 15px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.promo__title {
  padding-bottom: 34px;
  text-align: center;
}

.promo__wrapper {
  width: 100%;
  display: flex;
  gap: 40px;

  @include vp-1199 {
    flex-direction: column;
    gap: 30px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.promo__poster {
  display: grid;
  grid-template-columns: 1fr 280px;

  @include vp-1199 {
    grid-template-columns: 1fr 399px;
  }

  @include vp-767 {
    grid-template-columns: 290px;
    margin: 0 auto;
  }
}

.promo__image {
  width: 100%;
  height: 100%;
}


.promo__image picture img {
  height: 100%;
  width: 100%;
  max-width: 280px;
  object-fit: cover;
  @include vp-1199 {
    max-width: 399px;
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.promo__inner {
  color: $color-default-white;
  background-color: $color-bg-banner;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include vp-1199 {

  }

  @include vp-767 {
    align-items: center;
  }
}

.promo__coupons {
  display: grid;
  gap: 40px;
  width: 50%;

  @include vp-1199 {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 290px;
    margin: 0 auto;
  }
}

.promo__coupon {
  border: 7px solid transparent;
  background: linear-gradient($color-default-white, $color-default-white) padding-box, $color-grd-vertical border-box;
  padding: 28px;
}


.promo__link {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
  }

  @include hover {
    opacity: 0.8;
  }

  @include active {
    outline: none;
    opacity: 1;
    &::before {
      visibility: visible;
    }
  }


  &--white {
    font-size: 14px;
    color: $color-default-white;
    &::before {
      background-color: $color-default-white;
    }

    @include focus {
      outline: 1px solid $color-default-white;
      outline-offset: 1px;
      &::before {
        visibility: hidden;
      }
    }
  }

  &--navy {
    font-size: 12px;
    color: #1c3374;
    &::before {
      background-color: #1c3374;
    }

    @include focus {
      outline: 1px solid #1c3374;
      outline-offset: 1px;
      &::before {
        visibility: hidden;
      }
    }
  }
}

.promo__span {
  font-size: 28px;
  line-height: 100%;
}

.promo__sum {
  font-size: 70px;
  line-height: 100%;
  padding-top: 19px;
}

.promo__subtitle,
.promo__text,
.promo__description {
  padding: 0;
  margin: 0;
}

.promo__text {
  font-size: 18px;
  padding-top: 35px;
  padding-bottom: 198px;

  @include vp-767 {
    padding-bottom: 40px;
    text-align: center;
  }
}

.promo__subtitle {
  padding-bottom: 20px;
  font-size: 26px;
}

.promo__description {
  padding-bottom: 80px;
}

