.promo {
  width: 100%;
  padding: 135px 103px 120px;

  @include vp-1199 {
    padding: 89px 45px 100px;
  }

  @include vp-767 {
    padding: 64px 15px 71px;
  }
}

.promo__title {
  padding-bottom: 32px;
  text-align: center;

  @include vp-1199 {
    text-align: start;
    padding-bottom: 41px;
    padding-left: calc(50% - 49px);
  }

  @include vp-767 {
    padding-left: 109px;
  }
}

.promo__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.promo__poster {
  color: $color-default-white;
  background-color: $color-bg-banner;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50%;
  font-size: 18px;

  @include vp-1199 {
    grid-template-columns: 1fr 59%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 290px;
  }
}

.promo__image {
  justify-self: right;
  max-width: 100%;


  & img {
    object-fit: cover;
    height: 100%;
  }
}

.promo__inner {
  width: 68%;
  padding: 40px 0 45px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @include vp-767 {
    align-items: center;
    padding-bottom: 40px;
  }
}

.promo__text {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    align-items: center;
  }
}

.promo__coupons {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;


  @include vp-1199 {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 28px;
    max-width: 290px;
    margin: 0 auto;
  }
}

.promo__coupon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 7px solid transparent;
  background: linear-gradient($color-default-white, $color-default-white) padding-box, $color-grd-vertical border-box;
  padding: 24px 28px 28px;
  min-height: 211px;

  @include vp-767 {
    align-items: center;
    padding: 34px 28px 36px;
  }
}


.promo__link {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
  }

  @include hover {
    opacity: 0.8;
  }

  @include active {
    outline: none;
    opacity: 1;

    &::before {
      visibility: visible;
    }
  }


  &--white {
    font-size: 14px;
    color: $color-default-white;

    &::before {
      background-color: $color-default-white;
    }

    @include focus {
      outline: 1px solid $color-default-white;
      outline-offset: 1px;

      &::before {
        visibility: hidden;
      }
    }

    @include vp-767 {
      margin-top: 30px;
    }
  }

  &--navy {
    font-size: 12px;
    color: #1c3374;

    &::before {
      background-color: #1c3374;
    }

    @include focus {
      outline: 1px solid #1c3374;
      outline-offset: 1px;

      &::before {
        visibility: hidden;
      }
    }
  }
}

.promo__span {
  font-size: 28px;
  line-height: 100%;
}

.promo__sum {
  font-size: 70px;
  line-height: 100%;
  padding-top: 3px;
  padding-bottom: 20px;

  @include vp-767 {
    padding-top: 6px;
    padding-bottom: 15px;
  }
}

.promo__subtitle,
.promo__text p,
.promo__description {
  padding: 0;
  margin: 0;
}

.promo__text p {
  @include vp-767 {
    text-align: center;
  }
}

.promo__subtitle {
  padding-bottom: 8px;
  font-size: 26px;
  line-height: 100%;
}
