
.social__link {
  color: $color-default-navy;
  background-color: $color-default-white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  @include hover-focus {
    background-color: $color-accent-blue;
    color: $color-default-white;
  }

  @include active {
    background-color: #102654;
  }

  &:disabled {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    color: $color-default-navy;
  }



}
