.social__link {
  color: $color-default-navy;
  background-color: $color-default-white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  @include hover-focus {
    outline: none;
    background-color: $color-accent-blue;
    color: $color-default-white;
  }

  @include active {
    background-color: #102654;
    color: $color-default-white;
  }

  &:disabled {
    background-color: rgba(#ffffff, 30%);
    color: $color-default-navy;
  }
}
