.tabs {
  max-width: 100%;
}

.tabs__controls {
  position: relative;
  display: flex;
  gap: 46px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 43px;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-1199 {
    margin-bottom: 47px;
    flex-wrap: wrap;
    gap: 54px;
  }

  @include vp-767 {
    margin-bottom: 34px;
    gap: 45px;
  }
}

.tabs__control {
  font-size: 20px;
  line-height: 150%;
  font-family: $ff-default;
  color: $color-default-navy;
  font-weight: 400;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  min-width: auto;
  justify-content: center;

  &.is-active {
    position: relative;
    opacity: 1;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #d10a42;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    padding-bottom: 15px;
  }
}

.tabs__content {
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
