.tabs {
  max-width: 100%;
}

.tabs__controls {
  position: relative;
  display: flex;
  gap: 6px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.20);
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.tabs__control {
  font-size: 1.25em;
  font-family: $ff-default;
  color: $color-default-navy;
  font-weight: 400;
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  min-width: auto;
  justify-content: center;
  // width: 25%;

  @media screen and (max-width: 1023px) {
    // margin: 0 10px;
    // padding: 15px;
  }

  @media screen and (max-width: 767px) {
    // margin: 10px 2% 0;
    // padding: 10px;
    // width: 45%;
  }

  &.is-active {
    position: relative;
    opacity: 1;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 2px;
      background-color: #d10a42;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.tabs__content {
  margin-bottom: 40px;

  transition: height 0.3s;
}

.tabs__element {
  padding: 25px;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding: 15px;
  }

  p {
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }

  &:nth-child(1) {
    background-color: rgb(250, 235, 215);
  }

  &:nth-child(2) {
    background-color: rgb(229, 250, 215);
  }

  &:nth-child(3) {
    background-color: rgb(180, 188, 233);
  }

  &:nth-child(4) {
    background-color: rgb(255, 187, 204);
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
