.tariff {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;

  }
}

.tariff__card {
  position: relative;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;
  padding: 50px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include hover-focus {
    border: 7px solid transparent;
    background: linear-gradient($color-default-white, $color-default-white) padding-box, $color-grd-vertical border-box;
    & .tariff__button {
      background: $color-grd-vertical;
      color: $color-default-white;
      box-shadow: none;
    }
  }
}

.tariff__title {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 5px;

  @include vp-767 {
    font-size: 1.4rem;
  }
}

.tariff__feature {
  padding: 0;
  margin: 0;
}

.tariff__inner {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
  padding: 80px 0 50px;
  z-index: 2;

  @include vp-767 {
    padding: 81px 0 50px;

    & svg {
      width: 24px;
      height: 33px;
    }
  }
}

.tariff__price {
  color: $color-accent-blue;
  font-size: 3.75rem;
  line-height: 1em;
  font-weight: 700;

  @include vp-767 {
    font-size: 3rem;
  }
}

.tariff__button {
  padding: 27px 44px;
}

.tariff__bg {
  color: rgba(#e8e8e8, 0.48);
  font-size: 6.25rem;
  line-height: 1em;
  font-weight: 700;
  position: absolute;
  top: 35%;
  left: auto;
  z-index: 1;

  @include vp-767 {
    font-size: 5rem;
  }
}
