.title {
  margin: 0;
  padding: 0;
  font-family: $ff-title;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-767 {
    text-transform: none;
  }
// Омск
  &--small {
    font-size: 3rem;

    @include vp-1199 {
      font-size: 2rem;
    }
  }
// Абонементы, тренеры
  &--medium {
    font-size: 3rem;

    @include vp-1199 {
      font-size: 2.6rem;
    }
  }
// ФИтнес-центр
  &--large {
    font-size: 5.75rem;
    letter-spacing: 5%;
    @include vp-1199 {
      font-size: 4.5rem;
    }
  }
}
