.title {
  margin: 0;
  padding: 0;
  font-family: $ff-title;
  font-weight: 600;
  // line-height: 100%;
  line-height: 119%;
  letter-spacing: 0.03em;

  @include vp-767 {
    text-transform: none;
  }

// Абонементы, тренеры
  &--medium {
    font-size: 54px;

    @include vp-1199 {
      font-size: 42px;
    }

    @include vp-767 {
      font-size: 32px;
    }
  }
// кроссфит тайтл
  &--large {
    font-size: 5.125rem;
    text-transform: uppercase;

    @include vp-1199 {
      font-size: 3rem;
    }
  }
// ФИтнес-центр
  &--xlarge {
    font-size: 5.75rem;
    text-transform: uppercase;
    -webkit-text-stroke: 2px $color-default-white;
    line-height: 119%;
    letter-spacing: 0.05em;
    @include vp-1199 {
      font-size: 4.5rem;
      text-transform: none;
    }
  }
}
