
.video {
  cursor: pointer;

  //синяя подложка
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: rgba(20, 54, 122, 0.50);
    top: 0;
    bottom: 0;
    z-index: 2;
  }

  @include hover-focus {
    &::before {
      display: none;
    }

    .video__button {
      color: $color-default-navy;
      border-image: $color-default-navy;
      &::before {
        background: $color-default-navy;
      }
      &::after {
        background: $color-default-white;
      }
    }
  }

  @include active {
    .video__button {
      &::after {
        width: calc(72% - 20%);
        height: calc(72% - 20%);
      }
    }
  }

  &[data-is-playing = "is-playing"] {
    & .video__placeholder {
      display: none;
    }

    &::before {
      display: none;
    }

    .video__button {
      visibility: hidden;
    }

    .video__player {
      visibility: visible;
    }
  }

}

.video__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video__placeholder picture img {
  height: 100%;
}

.video__player {
  display: flex;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.video__button {
  cursor: pointer;
  color: $color-default-white;
  margin: auto;
  padding: 0;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent;
  border: none;

//Градиент-бордер

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 50%;
    background: linear-gradient(83deg, rgba(#003d85, 20%) 0%, rgba(#b80027, 20%) 88.54%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 3;
  }

  // Градиент-круг

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 72%;
    height: 72%;
    border-radius: 50%;
    background: $color-grd-btn-bg;
    z-index: 3;
  }

  & svg {
    z-index: 4;
    width: 13px;
    height: 17px;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;

    & svg {
      width: 9px;
      height: 12px;
    }
  }

  &:disabled {
    color: rgba($color-default-navy, 40%);
    &::before {
      background: rgba($color-default-navy, 40%);
    }
    &::after {
      background: $color-default-white;
    }
  }

  // &[data-is-closed = "is-closed"] {
  //   display: none;
  // }
}

// Кнопка без свг
// ____________________

// .video__button {
//   position: absolute;
//   background-color: transparent;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   margin: auto;
//   width: 100px;
//   height: 100px;
//   border: none;
//   border-radius: 50%;
//   box-shadow: 0 0 0 2px #ffffff;
//   z-index: 2;
//   cursor: pointer;
//   transition: .2s ease;
//   transition-property: opacity, visibility;
//   color: $color-default-white;

//   &::before {
//     content: '';
//     display: block;
//     position: absolute;
//     inset: 0;
//     margin: auto;
//     width: 0;
//     height: 0;
//     border: 20px solid transparent;
//     border-top-width: 15px;
//     border-bottom-width: 15px;
//     border-left-color: $color-default-white;
//     border-right-width: 0;
//     transition: transform .2s ease;
//   }
// }
