@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/robotocondensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed/robotocondensed-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/robotocondensed-bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed/robotocondensed-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumni Sans";
  font-display: swap;
  src: url("../fonts/alumni-sans/alumnisans-semibold.woff2") format("woff2"),
    url("../fonts/alumni-sans/alumnisans-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";
  font-display: swap;
  src: url("../fonts/rouble.woff2") format("woff2"),
    url("../fonts/rouble.woff") format("woff");
}
