@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumni Sans";
  font-display: swap;
  src: url("../fonts/alumni-sans/AlumniSans-SemiBold.woff2") format("woff2"),
    url("../fonts/alumni-sans/AlumniSans-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";
  font-display: swap;
  src: url("../fonts/rouble.woff2") format("woff2"),
    url("../fonts/rouble.woff") format("woff");
}
