// Colors
// ---------------------------------

// Default

$color-default-navy:               #102654;
$color-default-white:              #ffffff;

// Project palette

$color-accent-blue:                #103aae;

// Gradient

$color-grd-btn-bg:                 linear-gradient(45deg, #003d85 0%, #b80027 100%);
$color-grd-secondary:              linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$color-grd-vertical:               linear-gradient(151deg, #ed0233 0%, #003eb7 100%);

//Background

$color-bg-light:                    #f8f9fc;
$color-bg-banner:                   #ed0233;
$color-bg-navy:                     #1c3374;
$color-bg-footer:                   #030a1a;
$color-error:                       #ff121f;
$color-border:                      #74819c;

// Typography
// ---------------------------------

// // переменная используемая в html для подключения скейлинга
$fz-default:                        16px;
$ff-default:                        "Roboto Condensed", "Arial", sans-serif;
$ff-title:                          "Alumni Sans", "Arial", sans-serif;
// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
// // Animation
// // ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// // если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1200:                           1200px;

// Retina
// ---------------------------------
$retina-dppx:                       2dppx;
$retina-dpi:                        144dpi;
