// Colors
// ---------------------------------

// Default

$color-default-navy:               #102654;
$color-default-white:              #ffffff;

// Project palette

$color-accent-blue:                #103aae;

// Gradient

$color-grd-btn-bg:                 linear-gradient(83deg, #003d85 0%, #b80027 100%);
$color-grd-secondary:              linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$color-grd-vertical:               linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
//Background linear-gradient(83deg, #003d85 0%, #b80027 88.54%) linear-gradient(151deg, #ED0233 0%, #003EB7 100%) linear-gradient(151deg, #ED0233 0%, #003EB7 100%)

$color-bg-light:                    #f8f9fc;
$color-bg-banner:                   #ed0233;
$color-bg-grd:                      conic-gradient(from 151deg at 16.03% 39.06%, #003D85 32.23633825778961deg, #B80027 313.3060026168823deg);
$color-bg-footer:                   #030a1a;

$color-error-red:                   #ff121f;

// Typography
// ---------------------------------

// // переменная используемая в html для подключения скейлинга
$fz-default:                        16px;
$ff-default:                        "Roboto Condensed", "Arial", sans-serif;
$ff-title:                          "Alumni Sans", "Arial", sans-serif;
// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// // Animation
// // ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// // если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1200:                           1200px;

// Retina
// ---------------------------------
$retina-dppx:                       2dppx;
$retina-dpi:                        144dpi;
// $retina-dppx:                       1.5dppx;
